<ion-content>    
  <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">ติดต่อ</h1>
  <button class="button">Edit</button>
</div>
<br>
<br>
<br>
<br>

    <h3>&nbsp;&nbsp;&nbsp;วิทยาลัยเทคนิคชัยภูมิ</h3>

  <div class="item item-body">
    <img class="full-image" src="img/ctc1.jpg">
    <h2>ที่อยู่</h2>
    <tr>
      <td>ที่อยู่ ถนนองค์การบริหารส่วนจังหวัดสาย 2 ตำบลในเมือง อำเภอเมืองชัยภูมิ จังหวัด ชัยภูมิ 36000</td>
    </tr>
    <h2>โทรศัพท์</h2>
    <tr>
      <td>0-4481-2075-6</td>
    </tr>
    <h2>แฟกซ์</h2>
    <tr>
      <td>0-4481-1536</td>
    </tr>
  </div>

</div>
