<ion-content>    
 <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">ประวัติ</h1>
  <button class="button">Edit</button>
</div>
<br>
<br>

<div class="list card has-header">

  <div class="item item-avatar">
    <img src="img/pang1.jpg">
    <h2>ประวัติ</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/2.jpg">
    <tr>
      <td>ชิ่อ นางสาวอาทตยา  &nbsp; &nbsp; เพชรสิงห์</td><br>
      <td>ชื่อเล่น  &nbsp;แป้ง  &nbsp;&nbsp;&nbsp;อายุ  &nbsp;21  &nbsp;ปี</td><br>
      <td>เกิดวัน &nbsp;อาทิตย์ &nbsp;ที่ &nbsp;4 &nbsp;พฤษภาคม &nbsp;2540</td><br>
      <td>แผนก &nbsp;เทคโนโลยีสารสนเทศ</td><br>
    </tr>
  </div>

</div>
</ion-content>