<ion-content>    
  <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">บันทึกเยี่ยมบ้าน</h1>
  <button class="button">Edit</button>
</div>
<br>
<br>
<br>
<br>
    <h1>&nbsp;&nbsp;วิทยาลัยเทคนิคชัยภูมิ</h1>

  <div class="item item-body" >
    <a href="#/menu/main/profile_ctc">
    <img class="full-image" src="img/ctc1.jpg">
    <tr>
      <td>วิทยาลัยเทคนิคชัยภูมิ สังกัดกองวิทยาลัยเทคนิค กรมอาชีวศึกษา กระทรวงศึกษาธิการ์ ตั้งอยู่ที่ดินราชพัสดุ สนามบินกองทัพอากาศ (ที่เก่า) แปลงหมายเลขที่ 14636 เนื้อที่ 115 ไร่ 1 งาน 58 ตารางวา ถนนองค์การบริหารส่วนจังหวัด สาย 2 ตำบลในเมือง อำเภอเมืองชัยภูมิ จังหวัดชัยภูมิ</td><br>
  </div>

</div>