<ion-content>    
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">สมาชิก</h1>
  <button class="button">Edit</button>
</div>
<br>
<br>
<br>

<div class="list has-header">

    <a class="item item-thumbnail-left" href="#/menu/member/profile_pop">
      <img src="img/pop.jpg">
      <h2>นาย ธนกร &nbsp; &nbsp;จุลอักษร</h2>
      <p>ชื่อเล่น &nbsp;ป็อบ</p>
    </a>

    <a class="item item-thumbnail-left" href="#/menu/member/profile_lex" >
      <img src="img/lex.jpg">
      <h2>นาย ศุภชัย &nbsp; &nbsp;กุลเกตุ</h2>
      <p>ชื่อเล่น &nbsp;เล็ก</p>
    </a>

    <a class="item item-thumbnail-left" href="#/menu/member/profile_tar">
      <img src="img/tar.jpg">
      <h2>นายปิยวัช &nbsp; &nbsp;น้อยยอด</h2>
      <p>ชื่อเล่น &nbsp;ต้า</p>
    </a>
  
</div>
</ion-content>