<ion-content>    
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">ประวัติวิทยาลัยเทคนิคชัยภูมิ</h1>
  <button class="button">Edit</button>
</div>
<div class="list has-header">

   <div class="item item-body">
    <img class="full-image" src="img/ctc1.jpg">
    <h2>วิสัยทัศ</h2>
    <tr>
      <td>วิทยาลัยเทคนิคชัยภูมิเป็นแหล่งผลิตและพัฒนาศักยภาพกำลังคนอาชีวศึกษา สู่ตลาดแรงงานไทยและประชาคมอาเซียน บนพื้นฐานแห่งปรัชญาของเศรษฐกิจพอเพียง</td><br>
    </tr>
    <h2>พันธกิจ</h2>
    <tr>
     <td>1. จัดการเรียนการสอนด้านวิชาชีพ โดยเน้นผู้เรียนเป็นสำคัญและฝึกประสบการณ์จริง</td><br>
     <td>2. พัฒนาผู้สอนให้ใช้เทคโนโลยีสารสนเทศและเพิ่มศักยภาพวิชาชีพสู่มาตรฐานสากล</td><br>
     <td>3. เปิดโอกาสให้ชุมชน สถานประกอบการมีส่วนร่วมจัดการศึกษา</td>
    </tr>
    <h2>อัตลักษณ์</h2>
    <tr>
      <td>ทักษะเยี่ยม เปี่ยมคุณธรรม</td>
    </tr>
     <h2>เอกลักษณ์</h2>
    <tr>
      <td>บริการวิชาชีพสู่ชุมชน</td>
    </tr>
  </div>
  
</div>
</ion-content>
