<ion-content>    
 <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">ประวัติสมาชิก</h1>
  <button class="button">Edit</button>
</div>
<div class="list has-header">

      <div class="item item-body">
    <img class="full-image" src="img/tar.jpg">
    <tr>
      <td>ชิ่อ นายปิยวัช  &nbsp; &nbsp; น้อยยอด</td><br>
      <td>ชื่อเล่น  &nbsp;ต้า  &nbsp;&nbsp;&nbsp;อายุ  &nbsp;20  &nbsp;ปี</td><br>
      <td>ศึกษาที่ &nbsp;วิทยาลัยเทคนิคชัยภูมิ</td><br>
      <td>แผนก &nbsp;เทคโนโลยีสารสนเทศ</td><br>
    </tr>
  </div>
</div>
</ion-content>


